<style>
  .btn-search{
    background-color: #fe424d;
    color: white;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }
  .btn-search:hover{
    background-color: #fe424d;
    color: white;
  }
  .btn-search i{
    display: inline;
    margin-right: 0.5rem;
  }
  
  .search-inp{
   border-radius: 25px;
   padding: 0.5rem 3rem 0.5rem 3rem;
  }
</style>

<nav
  class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-link" href="/">Home</a> -->
        <a class="nav-link" href="/Listings">Explore</a>
      </div>
      <div class="navbar-nav ms-auto">
      <form class="d-flex" role="search" action="/listings" method="GET">
       <input class="form-control me-2 search-inp" type="search" name="search" placeholder="Search Destinations" />
      <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
      </form>
      </div>
      <div class="navbar-nav ms-auto d-flex align-items-center gap-2">
        <a class="nav-link" href="/Listings/new">Airbnb Your Home</a>
        <% if(!currUser){ %>
        <a class="nav-link" href="/signup"><b>signup</b></a>
        <a class="nav-link" href="/login"><b>Log in</b></a>
        <% } %>
        <% if(currUser){ %>
  <div class="nav-item dropdown">
    <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      <div style="
        width: 36px; 
        height: 36px; 
        border-radius: 50%; 
        background-color: #fe424d; 
        color: white; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        font-weight: bold;
        font-size: 1rem;
      ">
        <%= currUser.username[0].toUpperCase() %>
      </div>
      <%= currUser.username %>
    </a>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <a class="dropdown-item" href="/wishlist">
          <i class="fa-regular fa-heart me-2"></i>Wishlist
        </a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
        <a class="dropdown-item" href="/logout">
          <i class="fa-solid fa-right-from-bracket me-2"></i>Logout
        </a>
      </li>
      <li><hr class="dropdown-divider"></li>
      <li>
  <a class="dropdown-item" href="/bookings/my-bookings">
    <i class="fa-solid fa-calendar-check me-2"></i>My Bookings
  </a>
</li>
    </ul>
  </div>
<% } %>
       
      </div>
    </div>
  </div>
</nav>
